/* transmute.jsx */

.scoreInput {
  margin: 5% 5% 0% 5%;
}

.transmuteButton {
  margin: 5% 5% 0% 5%;
}

.transmuteResult {
  margin: 2% 5% 0% 5%;
}

.positionFixed {
  position: fixed;
  width: 100vw;
  height: 100vh;
}

/* individualcourse.jsx */

.finalSGrade {
  width: 90%;
  margin: 5% 5% 5% 5%;
}

/* coursesyllabus.jsx */

.addSyllabusDiv {
  position: relative;
  width: 100%;
}

/* coursesyllabus.jsx */

.smallTextField {
  width: 18vw;
}

/* indivscore.jsx */

.deleteSyllabus {
  margin-top: 10%;
  text-align: center;
}

.tableButtons {
  margin: 5% 5% 5% 5%;
}

.alignRight {
  position: absolute;
  right: 0;
  margin-right: 5%;
}

.tableBody {
  width: 100%;
  overflow-x: hidden;
}

/* botnav.jsx */

.botnav {
  position: fixed;
  bottom: 0px;
  width: 100%;
}

/* installinstructions.jsx */

.installInstructions {
  margin: 5% 5% 5% 5%;
}

/* main.jsx */

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}
