.ScoreInput {
  margin: 5% 5% 0% 5%;
}

.TransmuteButton {
  margin: 5% 5% 0% 5%;
}

.AddSyllabusDiv {
  position: relative;
  width: 100%;
}

.TransmuteResult {
  margin: 2% 5% 0% 5%;
}

.VersionInfo {
  text-align: center;
  padding-top: 7.5%;
  margin-top: 7.5%;
}

.PositionFixed {
  position: fixed;
  width: 100vw;
  height: 100vh;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.botnav {
  position: fixed;
  bottom: 0px;
  width: 100%;
}

.FinalSGrade {
  margin: 5% 5% 0% 5%;
}

.smallTextField {
  width: 18vw;
}

.deleteSyllabus {
  margin-top: 10%;
  text-align: center;
}

.tableButtons {
  width: 100%;
  margin: 5% 5% 5% 5%;
}

.alignRight {
  position: absolute;
  right: 0;
  margin-right: 5%;
}

.installInstructions {
  margin: 5% 5% 5% 5%;
  overflow: auto;
}
